* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Kugile';
    src: url('Resource/Font/kugile/Kugile_Demo.ttf') format('truetype');
}

@font-face {
    font-family: 'Rustic Roadway';
    src: url('Resource/Font/Rustic Roadway/RusticRoadway.otf') format('opentype');
}

@font-face {
    font-family: 'EB';
    src: url('Resource/Font/EB_Garamond/static/EBGaramond-Medium.ttf') format('truetype');
}

body{
    width:100vw;
    height: 100vh; 
    overflow: hidden;
    font-family: 'EB', Courier, monospace;
    background-image: url('Resource/Image/background\ beta\ -\ Copy.png');
    background-size: auto;
    cursor: url('Resource/cursor/hand\ open\ curser.png'),auto;
}

header {
    font-family: 'EB';
    color: #7d6157;
    font-size: 2vw;
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    pointer-events: none;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.background{
    position: absolute;
    pointer-events: none;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1vh;
    gap: 1vh;
    z-index: 2;
}

.sidebar model-viewer{
    width: 6vw;
    height: auto;
}

.potion {
    position: absolute;
    object-fit: contain;
    cursor: url("Resource/cursor/tweezers curser.png") 8 8, auto !important;
}

.cauldron {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.stone{
    position: fixed;
    cursor: url("Resource/cursor/tweezers curser.png") 8 8, auto !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35vh;
    display: none;
}

.top-right-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    z-index: 9999;
    cursor: url('Resource/cursor/tweezers curser.png'),auto;
}